<div class="modal-overlay">
  <div class="modal-container" [class]="modalSizeClass">
    <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
      <button (click)="onClose()" class="close-button">
        ✕
      </button>
    </div>
    
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
    
    <div *ngIf="showActions" class="modal-actions">
      <button (click)="onCancel()" class="cancel-button">
        {{cancelText}}
      </button>
      <button
        *ngIf="showPrimaryAction"
        (click)="onPrimaryAction()"
        [disabled]="primaryActionDisabled"
        [class]="primaryActionClass"
      >
        {{primaryActionText}}
      </button>
    </div>
  </div>
</div>